<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seedcommando.com.yashaswi">
    <!--
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="seedcommando.com.yashaswi.constantclass.EmpowerApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name1"
        android:required="false"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity android:name="seedcommando.com.yashaswi.EmployeeSelection"></activity>
        <activity android:name="seedcommando.com.yashaswi.ChangepwdActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_no" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/Notification_Color" />
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_no" />
        -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@color/Notification_Color" />
        -->
        <service
            android:name="seedcommando.com.yashaswi.MyService"
            android:exported="false" />


     <!--   <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
-->



        <activity android:name="seedcommando.com.yashaswi.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="seedcommando.com.yashaswi.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="seedcommando.com.yashaswi.leaveapplication.Leave_Application"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="seedcommando.com.yashaswi.attendanceregularization.Attend_Regularization"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan" /> <!-- stateVisible|adjustPan|adjustResize|stateHidden|stateAlwaysVisible -->
        <activity
            android:name="seedcommando.com.yashaswi.Out_Duty_Application"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize" />
        <activity
            android:name="seedcommando.com.yashaswi.Attendance_cameraActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.ManagerActivity"
            android:label=" "
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.attendancedetailsactivity.AttendanceDetailsActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.compoffapplication.CompoffActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="seedcommando.com.yashaswi.workfromhomeapplication.WorkFromHomeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="seedcommando.com.yashaswi.MapsActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.shiftallocation.ShiftAllocationActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.discrepanciesactivity.DiscrepanciesActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.applicationstatus.ApplicationStatusActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.notifications.NotificationActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.applicationaprovels.ApplicationAprovelsActivity"
            android:label=""
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ApplicationAprovelsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="seedcommando.com.yashaswi.leaveapplication.LeaveApp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="seedcommando.com.yashaswi.AboutUs"
            android:parentActivityName="seedcommando.com.yashaswi.ManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan|stateHidden" />
        <activity
            android:name="seedcommando.com.yashaswi.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.LicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="seedcommando.com.yashaswi.ErrorActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="seedcommando.com.yashaswi.utilitys.InternetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="seedcommando.com.yashaswi.utilitys.InternetService"
            android:enabled="true">
            <intent-filter>
                <action android:name=".utilitys.InternetService" />
            </intent-filter>
        </service> <!-- Firebase Notifications -->
        <service android:name="seedcommando.com.yashaswi.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="seedcommando.com.yashaswi.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- ./Firebase Notifications -->
        <activity
            android:name="seedcommando.com.yashaswi.OTPLoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="seedcommando.com.yashaswi.OTPAuthActivity" />
    </application>

</manifest>